@import "tailwindcss";

/* src/app/globals.css */

@tailwind utilities;

/* ... (أي كود سابق) ... */

/* === Custom Scrollbar Styling === */

@layer base {
  /* لمتصفحات Chrome, Safari, Edge */
  
}

@theme {
  --font-sans: var(--font-outfit);
  --font-caramel: var(--font-caramel);

  --color-background: var(--background);
  /* --color-foreground: var(--foreground); */
  --color-main: var(--main);
  --color-hover: var(--hover);
  --color-red: var(--red-color);
  --color-moon: var(--moon-color);
  --color-bag: var(--mode-bag);
  --color-font: var(--mode-font);
  --color-font-trans: var(--mode-font-trans);
  --color-header: var(--mode-header);
  --color-menu: var(--mode-menu);
  --color-bg-skills: var(--mode-bg-skills);
  --color-bg-hover-skills: var(--mode-bg-hover-skills);
  --color-bg-projects: var(--mode-bg-projects);
  --color-bg-hover-projects: var(--mode-bg-hover-projects);
  
}

:root {
  --background: #f8fafd;
  /* --foreground: #171717; */
  --main: #fb8500;
  --hover: #ef6c00;
  --red-color: #d62828;
  --moon-color: #fff2b2;
  --padding-top: 60px;
  --padding-bottom: 60px;
  --mode-bag: #202020;
  --mode-font: #d6d6d6;
  --mode-font-trans: #ffffff82;
  --mode-header: #333533;
  --mode-menu: #2f4550;
  --mode-bg-skills: #5c5c5c6e;
  --mode-bg-hover-skills: #625d5d7e;
  --mode-bg-projects: #2f3134;
  --mode-bg-hover-projects: #343a40;

  --font-outfit: "Outfit", sans-serif;
  --font-caramel: "Caramel", cursive;
}

body {
  background: var(--background);
  font-family: "Outfit", serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;

  @media (width >= 300px) {
    padding: 0 2rem;
  }
  @media (width >= 40rem /* 640px */) {
    padding: 0 3rem;
  }
}


::-webkit-scrollbar {
    width: 10px; /* عرض الشريط العمودي */
    height: 10px; /* ارتفاع الشريط الأفقي */
  }

  ::-webkit-scrollbar-track {
    background: transparent; /* لون الخلفية (المسار) */
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full border-2 border-transparent bg-clip-content;
    /* الشرح:
       bg-gray-300: لون الشريط في الحالة العادية
       rounded-full: حواف دائرية بالكامل
       border-2 border-transparent bg-clip-content: حيلة ذكية لعمل "هامش" وهمي حول الشريط لكي لا يلتصق بالحافة
    */
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-main; /* يتحول للون البرتقالي عند التحويم */
  }

  /* لمتصفح Firefox (يدعم خصائص مختلفة) */
  * {
    scrollbar-width: thin; /* شريط رفيع */
    scrollbar-color: #d1d5db transparent; /* (لون الشريط) (لون المسار) */
  }