/* start home */
.home {
  padding: 60px 0;
}

.home .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .home .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* text */
.home .text {
  max-width: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .home .text {
    max-width: 400px;
    text-align: start;
  }
}
@media (min-width: 992px) {
  .home .text {
    max-width: 480px;
  }
}

.home .text h1 {
  line-height: 1.12;
  font-size: 40px;
  font-weight: 600;
  font-family: "Caramel", cursive;
  margin-bottom: 20px;
}
.home .text h1 span {
  color: var(--main-color);
}
@media (min-width: 768px) {
  .home .text h1 {
    font-size: 58px;
    margin-bottom: 30px;
  }
  .home .text h1 span {
    display: block;
  }
}
.home .text h6 {
  font-size: 19px;
  color: #374151;
  font-weight: 500;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .home .text h6 {
    font-size: 22px;
    margin-bottom: 40px;
  }
}

/* skills */
#skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  #skills ul {
    justify-content: flex-start;
  }
}
#skills ul li {
  padding: 10px 15px;
  border-radius: 50%;
  background-color: #fff;
}
#skills ul figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#skills img {
  width: 45px;
  transition: 0.3s;
}
#skills img:hover {
  transform: scale(1.1);
}

/* image */
.home .image {
  text-align: end;
  margin-top: 45px;
  background-color: var(--main-color);
  border-radius: 50%;
}
@media (min-width: 768px) {
  .home .image {
    background-color: transparent;
    width: 50%;
    margin-top: 0;
  }
}

.home .image .cover {
  background-image: url(../../public/H68.png);
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  animation: shadow 2s infinite;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .home .image .cover {
    width: 280px;
    height: 280px;
  }
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 0 0 var(--main-color);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(59, 130, 246, 0);
  }
}

.home .image figure {
  display: none;
}
@media (min-width: 768px) {
  .home .image figure {
    display: block;
  }
  .home .image img {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .home .image img {
    width: 80%;
  }
}
